@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mohave&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --main-text-color: darkseagreen;
}

h1 {
  font-family: "Azeret Mono", monospace;
  color: rgb(59, 207, 56);
  text-align: center;
}

body {
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  font-family: "Mohave", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h3 {
  color: darkslateblue;
}

#siteLogo {
  max-width: 400px;
  height: auto;
}

#currency1,
#currency2 {
  font-size: 18px;
  background: transparent;
  border: 0;
  position: relative;
}

#amount1,
#amount2 {
  font-size: 18px;
  background: transparent;
  border: 0;
  position: fixed;
}

select:focus, input:focus, button:focus{
  outline: 0;
}

#swapBtn {
  background-color: darkseagreen;
  color: white;
  border-color: rgb(135, 175, 135);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 50px 20px 50px;
  padding-right: 20px 10px 20px 10px;
}


#exDisplay{
  justify-content: space-between;
}
